h1{
  width: 50%;
  margin: auto;
  height: 50px;
  text-align: center;
  border: 5px solid red;
}

.title{
  margin-top:30px;
}


.buttonclick{
  text-align: center;
  margin-top: 200px;
  
}

.buttondec{
  font-size: 50px;
}

.show-pokemon{
  text-align: center;
  margin-top: 40px;
}
